

.Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: var(--color-gray-50);
}

.HiddenInput {
  display: none;
}

.PlaybackControls {
  display: flex;
  align-items: center;
  padding: 3rem;
  gap: 3rem;
}

.UploadControl {
  background: var(--color-gray-600);
  padding: 1rem;
  width: 8rem;
  margin:auto;
  text-align: center;
  border-radius: 1rem;
}